Importing the dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# naming the dataset

In [ ]:

credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
107661,70549,1.198279,-0.851404,-0.172063,-0.760588,-0.732620,-0.390914,-0.308317,-0.108760,-1.116133,...,-0.317584,-0.724378,-0.145397,-0.317131,0.286789,1.054526,-0.093112,0.006122,118.00,0.0
107662,70549,-4.608890,-2.417203,-1.684811,0.206299,1.240726,3.368097,-1.802464,1.883831,-1.202476,...,-0.379691,-0.212864,-0.474509,1.133652,-0.053589,-0.203666,0.022797,-1.153237,12.00,0.0
107663,70550,-1.125806,0.163657,1.873904,1.407388,0.400394,0.167562,0.488385,0.250106,-0.798662,...,0.117333,0.190644,0.003970,0.234093,0.445414,-0.163892,0.050617,0.081551,98.35,0.0
107664,70550,-0.423253,0.752399,1.577846,0.280206,-0.094335,-0.263924,0.474498,0.088235,0.119206,...,0.051250,0.557695,-0.004066,0.468395,-0.584390,0.284416,0.423211,0.241590,9.20,0.0
107665,70550,0.907958,-0.923497,0.730426,0.211849,-0.948813,0.409957,-0.555812,0.199092,1.260090,...,-0.149574,-0.492247,-0.083512,-0.351753,0.064257,0.988019,-0.048000,NaN,NaN,NaN

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107666 entries, 0 to 107665
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    107666 non-null  int64
 1   V1      107666 non-null  float64
 2   V2      107666 non-null  float64
 3   V3      107666 non-null  float64
 4   V4      107666 non-null  float64
 5   V5      107666 non-null  float64
 6   V6      107666 non-null  float64
 7   V7      107666 non-null  float64
 8   V8      107666 non-null  float64
 9   V9      107666 non-null  float64
 10  V10     107666 non-null  float64
 11  V11     107666 non-null  float64
 12  V12     107666 non-null  float64
 13  V13     107666 non-null  float64
 14  V14     107666 non-null  float64
 15  V15     107666 non-null  float64
 16  V16     107666 non-null  float64
 17  V17     107666 non-null  float64
 18  V18     107666 non-null  float64
 19  V19     107666 non-null  float64
 20  V20     107666 non-null  float64
 21  V21     107666 non-null  float64
 22  V22     107666 non-null  float64
 23  V23     107666 non-null  float64
 24  V24     107666 non-null  float64
 25  V25     107666 non-null  float64
 26  V26     107666 non-null  float64
 27  V27     107666 non-null  float64
 28  V28     107665 non-null  float64
 29  Amount  107665 non-null  float64
 30  Class   107665 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 25.5 MB

In [ ]:
# checking no.of missing values in each column

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:

# distributing of legit and fradulent transactions

In [ ]:
credit_card_data['Class'].value_counts()

0.0    107428
1.0       237
Name: Class, dtype: int64

0 - Legit transaction

---
1 - Fradulent transaction

In [ ]:
# seperating the data for analysis

In [ ]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)

(107428, 31)

In [ ]:
print(fraud.shape)

(237, 31)

In [ ]:
# statistical data for transactions

In [ ]:


legit.Amount.describe()

count    107428.000000
mean         96.131142
std         260.844741
min           0.000000
25%           7.100000
50%          25.170000
75%          86.970000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     237.000000
mean      118.885148
std       255.864211
min         0.000000
25%         1.000000
50%         7.610000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:

# compare the values for both transactions

In [ ]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,44326.693739,-0.244646,-0.035961,0.700676,0.146649,-0.275017,0.101216,-0.102301,0.055409,-0.049402,...,0.043082,-0.033876,-0.106727,-0.037017,0.01058,0.133236,0.025663,0.000488,0.001429,96.131142
1.0,38578.008439,-6.020609,4.209147,-7.728592,4.759216,-4.298181,-1.547669,-6.396113,1.618176,-2.755420,...,0.252535,1.368462,-0.344519,-0.105012,-0.11118,0.215603,0.092395,0.533794,0.066186,118.885148

Under-sampling

In [ ]:
# building a sample data set containing distribution of normal transaction and the fradulent transaction

In [ ]:
# no.of.fraduelnt transaction - 492

In [ ]:
legit_sample = legit.sample(n=492)

concatnate 2 samples

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
91880,63667,-0.725785,-0.627170,2.867386,-0.335981,-1.672168,0.910753,-0.902732,0.385853,-0.140295,...,-0.331649,-0.034096,-0.109649,0.440189,-0.415234,1.164410,0.053297,0.095631,76.89,0.0
19342,30199,1.103256,0.211745,0.412680,1.120798,-0.220757,-0.342137,0.058428,0.142478,-0.206612,...,-0.390954,-1.295671,0.276683,0.105581,0.059542,-0.833215,0.010379,0.016976,19.27,0.0
72338,54661,-0.892965,0.919481,1.411238,-0.343628,0.365768,-0.913391,0.673359,-0.070614,-0.301380,...,-0.095925,-0.435598,0.081710,0.340499,-0.606679,-0.129533,-0.192848,0.207411,1.98,0.0
31747,36501,1.178842,-0.884415,-0.155422,-0.548563,-0.846438,-0.524518,-0.235336,-0.118321,-0.949896,...,-0.362103,-0.745207,-0.144988,0.045055,0.386886,1.085494,-0.097543,0.001764,113.99,0.0
27088,34380,-1.596365,-0.600011,-0.657045,-1.651893,-1.541419,-0.123707,2.517731,0.164091,0.258792,...,0.483879,0.585999,1.100304,-0.032292,0.199587,-0.832829,0.119214,0.206759,560.84,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
105178,69394,1.140431,1.134243,-1.429455,2.012226,0.622800,-1.152923,0.221159,0.037372,0.034486,...,-0.367136,-0.891627,-0.160578,-0.108326,0.668374,-0.352393,0.071993,0.113684,1.00,1.0
106679,70071,-0.440095,1.137239,-3.227080,3.242293,-2.033998,-1.618415,-3.028013,0.764555,-1.801937,...,0.764187,-0.275578,-0.343572,0.233085,0.606434,-0.315433,0.768291,0.459623,227.30,1.0
106998,70229,0.315642,1.636778,-1.519650,4.028571,-1.186794,-0.789813,-2.279807,0.472988,-1.657635,...,0.345921,-0.108002,-0.165442,0.279895,0.808783,0.117363,0.589595,0.309064,3.79,1.0
107067,70270,-1.512516,1.133139,-1.601052,2.813401,-2.664503,-0.310371,-1.520895,0.852996,-1.496495,...,0.729828,0.485286,0.567005,0.323586,0.040871,0.825814,0.414482,0.267265,318.11,1.0
107637,70536,-2.271755,-0.457655,-2.589055,2.230778,-4.278983,0.388610,0.102485,0.813128,-1.092921,...,1.096342,0.658399,1.711676,0.333540,0.538591,-0.193529,0.258194,0.247269,824.83,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    237
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,44764.260163,-0.356306,-0.098229,0.705779,-0.009087,-0.193139,0.074214,-0.163664,0.031220,-0.127833,...,0.011771,-0.017360,-0.137982,-0.062816,0.042616,0.121229,0.011512,0.003160,-0.014607,99.940915
1.0,38578.008439,-6.020609,4.209147,-7.728592,4.759216,-4.298181,-1.547669,-6.396113,1.618176,-2.755420,...,0.252535,1.368462,-0.344519,-0.105012,-0.111180,0.215603,0.092395,0.533794,0.066186,118.885148

splitting the data into features and targets

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

         Time        V1        V2        V3        V4        V5        V6  \
91880   63667 -0.725785 -0.627170  2.867386 -0.335981 -1.672168  0.910753
19342   30199  1.103256  0.211745  0.412680  1.120798 -0.220757 -0.342137
72338   54661 -0.892965  0.919481  1.411238 -0.343628  0.365768 -0.913391
31747   36501  1.178842 -0.884415 -0.155422 -0.548563 -0.846438 -0.524518
27088   34380 -1.596365 -0.600011 -0.657045 -1.651893 -1.541419 -0.123707
...       ...       ...       ...       ...       ...       ...       ...
105178  69394  1.140431  1.134243 -1.429455  2.012226  0.622800 -1.152923
106679  70071 -0.440095  1.137239 -3.227080  3.242293 -2.033998 -1.618415
106998  70229  0.315642  1.636778 -1.519650  4.028571 -1.186794 -0.789813
107067  70270 -1.512516  1.133139 -1.601052  2.813401 -2.664503 -0.310371
107637  70536 -2.271755 -0.457655 -2.589055  2.230778 -4.278983  0.388610

              V7        V8        V9  ...       V20       V21       V22  \
91880  -0.902732  0.385853 -0.140295  ... -0.337898 -0.331649 -0.034096
19342   0.058428  0.142478 -0.206612  ... -0.250141 -0.390954 -1.295671
72338   0.673359 -0.070614 -0.301380  ... -0.210967 -0.095925 -0.435598
31747  -0.235336 -0.118321 -0.949896  ... -0.301801 -0.362103 -0.745207
27088   2.517731  0.164091  0.258792  ...  1.060103  0.483879  0.585999
...          ...       ...       ...  ...       ...       ...       ...
105178  0.221159  0.037372  0.034486  ... -0.099712 -0.367136 -0.891627
106679 -3.028013  0.764555 -1.801937  ...  0.895841  0.764187 -0.275578
106998 -2.279807  0.472988 -1.657635  ...  0.388885  0.345921 -0.108002
107067 -1.520895  0.852996 -1.496495  ...  1.249586  0.729828  0.485286
107637  0.102485  0.813128 -1.092921  ...  2.285758  1.096342  0.658399

             V23       V24       V25       V26       V27       V28  Amount
91880  -0.109649  0.440189 -0.415234  1.164410  0.053297  0.095631   76.89
19342   0.276683  0.105581  0.059542 -0.833215  0.010379  0.016976   19.27
72338   0.081710  0.340499 -0.606679 -0.129533 -0.192848  0.207411    1.98
31747  -0.144988  0.045055  0.386886  1.085494 -0.097543  0.001764  113.99
27088   1.100304 -0.032292  0.199587 -0.832829  0.119214  0.206759  560.84
...          ...       ...       ...       ...       ...       ...     ...
105178 -0.160578 -0.108326  0.668374 -0.352393  0.071993  0.113684    1.00
106679 -0.343572  0.233085  0.606434 -0.315433  0.768291  0.459623  227.30
106998 -0.165442  0.279895  0.808783  0.117363  0.589595  0.309064    3.79
107067  0.567005  0.323586  0.040871  0.825814  0.414482  0.267265  318.11
107637  1.711676  0.333540  0.538591 -0.193529  0.258194  0.247269  824.83

[729 rows x 30 columns]

In [ ]:
print(Y)

91880     0.0
19342     0.0
72338     0.0
31747     0.0
27088     0.0
         ...
105178    1.0
106679    1.0
106998    1.0
107067    1.0
107637    1.0
Name: Class, Length: 729, dtype: float64

splitting the data into training and testing data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y , random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(729, 30) (583, 30) (146, 30)

Model Training



```
# This is formatted as code
```

Logistic Regression

In [ ]:
model = LogisticRegression()

Training the logistic regression model with Training data

In [ ]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
X_train_prediction = model.predict(X_train)
traning_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on training data : ',traning_data_accuracy )

Accuracy on training data :  0.9622641509433962

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy on test data : ',test_data_accuracy )

Accuracy on test data :  0.9315068493150684